header {
    background-color: rosybrown;
    display: flexbox;
    line-height: 20px;
    position: relative;
}

h1 {
    font-size: 200%;
    font-family: 'Trebuchet MS';
    display: inline-block;
    align-self: center;
    margin: 70px;
    color: white;
}

header ul {
    color: aliceblue;
    font-family:'Trebuchet MS';
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    font-size: 20px;
}

a {
    color: white;
    display: inline-block;
    justify-content: space-between;
    padding: 15px;
}

body {
    display: flexbox;
    flex-wrap: wrap;
}

.part {
    display: block;
    justify-content: flex-start;
}

.display {
    background-color: aliceblue;
    width: 600px;
    border: 10px solid lightpink;
    padding: 50px;
    margin-top: 20px;
}

footer {
    margin-top: 25px;
}
    
footer h3 {
    display: flexbox;
    background-color: rosybrown;
    font-size: 15pt;
    font-family: 'Trebuchet MS';
    color: white;
    padding: 15px;
 }
 