html {
    background-color: beige;
}

header {
    background-color: rosybrown;
    display: flexbox;
    line-height: 50px;
    position: relative;
}

h1 {
    font-size: 200%;
    font-family: 'Trebuchet MS';
    color: white;
    /*display: flex;
    padding: 20px;
    margin: 20px;*/
}

.nametag {
    display: flex;
    height: 46px;
    border: 20px;
    width: 170px;
    border-radius: 33px;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: -12px;
    left: 17px;
    background-color: lightpink;
}

header ul {
    border: 0px;
    padding: 0px;
    margin-right: 20px;
}

.navigation-bar {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    padding: 2px;
    border: 1px;
    margin-left: 50px;
}

.container {
    max-width: 300px;
    display: inline-block;
    position: relative;
    border: 7px solid rosybrown;
    margin: 10px;
}

a {
    color: white;
    display: inline-block;
    justify-content: space-between;
    padding: 15px;
    font-family: cursive, 'Trebuchet MS';
    font-size: 20px;
    font-weight: bold;
}

body {
    display: flexbox;
    flex-wrap: wrap;
}

/*
.part {
    display: block;
    justify-content: flex-start;
}
*/

.display {
    background-color: beige;
    width: 600px;
    border: 10px solid lightpink;
    padding: 50px;
    margin-top: 20px;
}

/* length of veiwport */
footer {
    margin-top: 25px;
    display: inline-block;
    width: 100vh;
}
    
footer h3 {
    display: flexbox;
    background-color: rosybrown;
    font-size: 15pt;
    font-family: 'Trebuchet MS';
    color: white;
    padding: 15px;
 }
 